useDynLib(Colossus, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(RcppEigen)
importFrom(RcppParallel,RcppParallelLibs)
import(data.table)
import(parallel)
importFrom("stats", "qchisq")
importFrom("utils", "combn")
importFrom("grDevices", "colorRampPalette", "dev.off", "jpeg")
importFrom("graphics", "legend", "lines", "smoothScatter")
importFrom("stats", "approxfun", "time")
import(survival)
exportPattern("^[[:alpha:]]+")
