useDynLib(Colossus, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(RcppEigen)
importFrom(RcppParallel,RcppParallelLibs)
import(data.table)
import(parallel)
importFrom("stats", "qchisq")
importFrom("utils", "combn")
import(survival)
exportPattern("^[[:alpha:]]+")
