useDynLib(Colossus, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(RcppEigen)
importFrom(RcppParallel,RcppParallelLibs)
import(data.table)
import(parallel)
importFrom("stats", "qchisq")
importFrom("utils", "combn")
importFrom("grDevices", "colorRampPalette", "dev.off", "jpeg")
importFrom("graphics", "legend", "lines", "smoothScatter")
importFrom("stats", "approxfun", "time")
import(survival)
exportPattern("^[[:alpha:]]+")
importFrom(rlang,.data)


export(Check_Dupe_Columns)
export(Check_Trunc)
export(CoxKaplanMeier)
export(CoxMartingale)
export(CoxRisk)
export(CoxSmoothHazard)
export(CoxStratifiedSurvival)
export(CoxSurvival)
export(Cox_Relative_Risk)
export(K_Smooth)
export(Likelihood_Ratio_Test)
export(Open_File)
export(RunCoxNull)
export(RunCoxPlots)
export(RunCoxRegression)
export(RunCoxRegression_STRATA)
export(RunPoissonRegression)
export(factorize)
export(gen_time_dep)
export(Date_Shift)
export(Time_Since)
export(get_conf_int)
export(interact_them)
export(time_factor)
importFrom(rlang,.data)
